@charset "utf-8";

div.div-iframe{
    padding: 15px;
    width: 45%;
    display: inline-block;
}

iframe{
    border: 1px solid black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    width: 100%;
}